<div class="footer" style="left: 0; bottom: 0; width: 100%">
  <div class="container-fluid"
    style="background-color: black; color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center;">
    <div class="row" style="padding: 2%;">
      <div class="col-md-4">
        <div>
          <h5>NEED HELP?</h5>
          <div class="help">
            <p>Help Center</p>
            <p>How to Order</p>
            <p>Delivery Options</p>
            <p>Reselling</p>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div>
          <h5>PAYMENT METHODS</h5>
          <div class="help">
            <p>Online Payments</p>
            <p>Payment Receipts</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div>
          <h6>CONTACT US</h6>
          <a href="#" class="fab fa-facebook"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-youtube"></a>

          <p>09000000000</p>
        </div>
      </div>
    </div>
  </div>
</div>
