<div class="mb-5">
    <div class="text-center homepageText p-4 ">What we do</div><br>
    <div class="card-deck generalText text-center align-items-center">
      <div class="card">
          <img class="card-img" src="../../assets/images/design.jpg"/>
        <div class="card-img-overlay">
            <div class="card-title homepageText">Design</div>
            <div class="card-text">Design TShirt to suit your personality</div>
            <div class="card-text">You Imagine, we design even more than your
              imaginaton</div>
            <a href=# class="btn btn-primary">Design your cloth</a>
        </div>

      </div>
      <div class="card">
          <img class="card-img" src="../../assets/images/tips.jpg"/>
        <div class="card-img-overlay">
            <div class="card-title homepageText">Tips for Maintenance</div>
            <div class="card-text">Many people complain that TShirts dont last. Its all your fault</div>
            <div class="card-text">There are different ways to make your clothes look ever new</div>
            <a href=# class="btn btn-primary">View Tips</a>
        </div>

      </div>
      <div class="card">
          <img class="card-img" src="../../assets/images/design.jpg"/>
        <div class="card-img-overlay">
            <div class="card-title homepageText">How to</div>
            <div class="card-text">Design TShirt to suit your personality</div>
            <a href=# class="btn btn-primary">View tips</a>
        </div>

      </div>

    </div>

</div>
