<div class="card-deck generalText">
    <div class="card">
      <a>
          <img class="card-img" src="../../assets/images/shirt6.jpg"/>
          <div class="card-img-overlay text-center d-flex justify-content-center align-items-center">
              <div class="btn btn-primary">
                  <div class="card-text categoryText">SHIRTS</div>
              </div>
          </div>
      </a>

    </div>
    <div class="card">
        <a>
            <img class="card-img" src="../../assets/images/cap1.jpg"/>
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <div class="btn btn-primary">
                    <div class="card-text categoryText">CAPS</div>
                </div>
            </div>
        </a>

      </div>
      <div class="card">
          <a>
              <img class="card-img" src="../../assets/images/shoe.jpg"/>
              <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <div class="btn btn-primary">
                    <div class="card-text categoryText">SHOES</div>
                </div>

              </div>
          </a>

        </div>
</div>
<a>
    <div class="btn btn-primary">More Categories</div>
</a>
