<div class="container">
    <div class="text-center homepageText"><br>Tips</div>
  <h3>How To Wash</h3>
  <p>Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem Ipsum
      Lorem Ipsum
      Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem Ipsum
      Lorem Ipsum
      Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem Ipsum
      Lorem Ipsum
      Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem Ipsum
  </p>
  <h3>How To Iron</h3>
  <p>Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem Ipsum
      Lorem Ipsum
      Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem Ipsum
      Lorem Ipsum
      Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem Ipsum
      Lorem Ipsum
      Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem Ipsum
  </p>
  <h3>How To Spread</h3>
  <p>Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem Ipsum
      Lorem Ipsum
      Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem Ipsum
      Lorem Ipsum
      Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem Ipsum
      Lorem Ipsum
      Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
      Lorem Ipsum Lorem Ipsum
  </p>

</div>

